@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');


body{
    background-color:#fff4e6;
}

.heading-section{
    width:520px;
    height:175px;
    background-color:#be9b7b;
    border-radius: 15px;
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

img{
    width:77%;
    height:77%;
    grid-column:1/2;
    
    margin-right:auto;
    margin-left:auto;
    margin-bottom:auto;
    margin-top:auto;
    
   /* border: 5px solid #854442;
    border-radius: 15px; */
    
}

.name{
    text-align:center;
    grid-column:2/2;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:auto;
    font-size:35px;
    padding-right:15px;
    color:#5C4033;
    font-family: 'IBM Plex Serif', serif;
}

.link-section{
    width:520px;
    
    margin-left: auto;
    margin-right: auto;
}

.title{
    color:#854442;
    margin-bottom:10px;
    font-family: 'Lato', sans-serif;
}

hr{
    color:#854442;
}

.links{
    line-height: 2;
    font-family: 'Lato', sans-serif;
}

.footer-section{
    width:520px;
    height:75px;
    background-color:#be9b7b;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}

.one{
    text-align:center;
    padding-top:15px;
    padding-bottom:5px;
    font-size:16px;
    font-family: 'Lato', sans-serif;
}

.two{
    text-align:center;
    padding-bottom:13px;
    font-family: 'Lato', sans-serif;
    font-size:12px;
}